<!-- header -->
<!-- navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <h4>Welcome <span class="member-name"></span></h4>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/members">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/chart">Your weekly report <span class="sr-only"></span></a>
        </li>
         <li class="nav-item mr-auto">
          <a class="nav-link" href="/history">History</a>
        </li>
      </ul>
      <a class="nav-link logout-link" href="/logout"><span class="navbar-text"><i class="fas fa-sign-out-alt"></i> Logout</a>
    </div>
  </nav>
<div class="container page-container">

    <!-- front window container -->
    <div class="container front-window mt-4">
      <h1>Choose that best describes your feeling right now:</h1>
      <div class="mt-4">
          <!-- button for happy -->
        <button type="button" class="btn btn-outline-primary" id="happy-btn">Happy</button>

        <!-- button for neutral -->
        <button type="button" class="btn btn-outline-primary" id="neutral-btn">Neutral</button>

        <!-- button for sad -->
        <button type="button" class="btn btn-outline-primary" id="sad-btn">Sad</button>

      </div>

    </div>



    <!-- emojis container -->
    <div class="container" id="happy-emoji-container">
      <button class="x-button"><i class="fas fa-times"></i></button><br>
          {{#each positivePolarityEmojis}}
              <span class="emoji-info" data-id={{id}} data-name={{name}} data-polarity={{polarity}}>{{emoji}}</span>
          {{/each}}
          {{!-- </ul> --}}
{{!--
        </div>
      </div> --}}
    </div>


  <div class="container" id="neutral-emoji-container">
    <button class="x-button"><i class="fas fa-times"></i></button><br>
    {{!-- <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
      Tell us your feeling
    </button>
    <div class="dropdown-menu dropdown-menu-right"> --}}

      {{#each neutralPolarityEmojis}}
        {{!-- <button class="dropdown-item emoji-size" data-toggle="modal" data-target="#myModal"> --}}
          <span class="emoji-info" data-id={{id}} data-name={{name}} data-polarity={{polarity}}>{{emoji}}</span>
          {{!-- {{name}} {{polarity}}  --}}
        {{!-- </button> --}}
      {{/each}}


    {{!-- </div> --}}
  </div>


  <div class="container" id="sad-emoji-container">
    <button class="x-button"><i class="fas fa-times"></i></button><br>
    {{!-- <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
      Tell us the precision of your sadness
    </button>
    <div class="dropdown-menu dropdown-menu-right">
      <ul> --}}
      {{#each negativePolarityEmojis}}
        {{!-- <li class="dropdown-item emoji-size" data-toggle="modal" data-target="#myModal"> --}}
          <span class="emoji-info" data-id={{id}} data-name={{name}} data-polarity={{polarity}}>{{emoji}}</span>
          {{!-- {{name}} {{polarity}}  --}}
        {{!-- </li> --}}
      {{/each}}
      {{!-- </ul>

    </div> --}}
  </div>

</div>

<!-- The Modal -->
<div class="modal" tabindex="1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <!-- the modal header where the modal-title will change after the confirmations -->
      <div class="modal-header mx-auto">
        <h3 class="modal-title"><i class="fas fa-exclamation-triangle"></i> Are you sure with this emoji?</h3>
      </div>

      <!-- contents of the modal -->
      <div class="modal-body">
        <!-- where the emoji icon will appear -->
        <p id="emoji-icon"></p>
        <!-- text area here -->
        <form id="textarea">
          <div class="form-group">
            <h6>Write down what happened:</h6>
            <textarea class="form-control" id="comment" rows="5"></textarea>
          </div>
        </form>
      </div><!-- end of modal-body -->

      <div class="modal-footer">
        <!-- close button -->
        <button type="button" id="close-btn" class="btn btn-secondary" data-dismiss="modal">Cancel</button>

        <!-- function for this button is still in need -->
        <button type="button" id="confirm-btn" class="btn btn-primary"></button>
      </div> <!-- end of modal footer -->
    </div><!-- end of modal-content -->
  </div><!-- end of modal-dialog -->
</div><!-- end of modal class -->
